# Local testing data
local-data/

# Local shortcuts
*.lnk


# Compiled Lua sources
luac.out
*.luac

# LuaRocks
*.src.rock
*.zip
*.tar.gz
luarocks-config.lua
lua_modules/

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Neovim specific
session.vim
undo-dir/

# Project specific
.env 


# Operating System specific
.DS_Store
Thumbs.db


# Temporary files
*.swp
*.bak
*.tmp
*.temp
